.news {
    height: 626px;
}

.news .information {
    width: 600px;
    float: left;
}

.news .information .infoTitle {
    height: 26px;
    line-height: 26px;
}

.news .information .infoImg {
    margin-top: 40px;
}

.news .text {
    color: #333333;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    float: left;
}

.infoTitle .more {
    float: right;
}

.news .notice {
    width: 556px;
    float: left;
    margin-left: 40px;
}

.news .notice .noticeTitle {
    height: 26px;
    line-height: 26px;
}

.noticeTitle .more {
    float: right;
}

.news .notice .noticeUl {
    width: 100%;
    float: left;
}

.news .notice .noticeUl .noticeList {
    margin-top: 40px;
    height: 395px;
    overflow: hidden;
}

.noticeList li {
    height: 30px;
    line-height: 30px;
    color: #666666;
}

.noticeList li a {
    color: #666666;
    font-size: 14px;
    padding-left: 10px;
}

.noticeList li.active {
    color: #1890ff;
    background: #f2f1f1;
}

.noticeList li.active a {
    color: #1890ff;
}

.noticeList li.active span {
    color: #666666;
}

.project {
    width: 100%;
    height: 530px;
    background: #fafafc;
}

.project .proTitle {
    height: 25px;
    line-height: 25px;
}

.project .proTitle .text {
    color: #333333;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    float: left;
}

.project .proList {
    margin-top: 40px;
}

.proList ul li {
    float: left;
    overflow: hidden;
    margin-left: 20px
}

.proList ul li:first-child {
    margin-left: 1px;
}

.proList ul li img {
    width: 283px;
    height: 212px;
    border: solid 1px transparent;
}

.proList ul li .title {
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
    height: 18px;
}

.proList ul li .text {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    height: 35px;
    width: 283px;
}

.solution {
    height: 695px;
}

.solution .title {
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    height: 24px;
    text-align: center;
}

.solution .line {
    border: 4px solid #297AFF;
    margin-top: 13px;
    width: 40px;
    margin-left: 48%;
}

.solution .column {
    margin-top: 45px;
    height: 32px;
}

.solution .column a {
    width: 56px;
    height: 32px;
    font-size: 14px;
    margin-right: 58px;
    float: left;
    padding-top: 7px;
}

.solution .column a:first-child {
    margin-left: 34%;
}

.solution .column a.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    padding: 7px 14px;
    border-radius: 16px;
}

.solution .list {
    margin-top: 40px;
}

.solution .list ul li {
    float: left;
    overflow: hidden;
    margin-left: 28px;
}

.solution .list ul li:first-child {
    margin-left: 0px;
}

.solution .list ul li img {
    width: 380px;
    height: 284px;
    border: solid 1px transparent;
}

.solution .list ul li .title {
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin-top: 27px;
    height: 16px;
    text-align: left;
}

.solution .list ul li .text {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    margin-top: 13px;
    height: 35px;
    width: 380px;
}

.science {
    height: 658px;
    background: #fafafc;
}

.science .title {
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    height: 24px;
    text-align: center;
}

.science .line {
    border: 4px solid #297AFF;
    margin-top: 15px;
    width: 40px;
    margin-left: 48%;
}

.science .info {
    height: 415px;
    float: left;
    margin-top: 40px;
    background: #FFFFFF;
}

.science .info .desc {
    padding: 62px 45px 30px 52px;
    float: left;
}

.science .info .desc .title {
    height: 17px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    text-align: left;
}

.science .info .desc .text {
    margin-top: 44px;
    width: 532px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #333333;
}

.science .info .certificate {
    padding: 30px 37px 30px 0px;
    float: right;
}

.comment {
    height: 555px;
}

.comment .title {
    height: 25px;
    line-height: 25px;
}

.comment .title .text {
    color: #333333;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    float: left;
}

.comment .list {
    margin-top: 40px;
}

.comment .list ul li {
    float: left;
    overflow: hidden;
    margin-bottom: 50px;
}

.comment .list ul li:nth-child(odd) {
    margin-right: 140px;
}

.comment .list ul li:nth-child(even) {
    margin-right: 0px;
}

.comment .list ul li img {
    width: 200px;
    height: 140px;
    border: solid 1px transparent;
}

.comment .list ul li .desc {
    padding-left: 20px;
    float: left;
    width: 308px;
}

.comment .list ul li .desc h2 a {
    height: 20px;
    color: #333333;
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
}

.comment .list ul li .desc .text {
    height: 32px;
    color: #333333;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    margin-top: 12px;
    overflow: hidden;
}

.comment .list ul li .desc .finish {
    height: 14px;
    color: #999999;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    margin-top: 10px;
    overflow: hidden;
}

.comment .list ul li .desc .year {
    height: 14px;
    color: #999999;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    margin-top: 10px;
    overflow: hidden;
}

.comment .list ul li .desc .see {
    height: 14px;
    color: #4C5CD3;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    margin-top: 10px;
    display: block;
}

.resources {
    height: 572px;
    background: #fafafc;
}

.resources .title {
    height: 25px;
    line-height: 25px;
}

.resources .title .text {
    color: #333333;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    float: left;
}

.resources .info {
    margin-top: 40px;
}

.resources .info img {
    width: 464px;
    height: 348px;
    float: left;
}

.resources .info ul li {
    height: 30px;
    line-height: 30px;
    color: #666666;
    float: left;
    margin-bottom: 6px;
    margin-left: 48px;
    width: 320px;
    overflow: hidden;
}

.resources .info li a {
    color: #666666;
    font-size: 14px;
    padding-left: 10px;
}

.resources .info li.active {
    color: #1890ff;
    background: #f2f1f1;
}

.resources .info li.active a {
    color: #1890ff;
}

.cooperation {
    height: 523px;
}

.cooperation .title {
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    height: 24px;
    text-align: center;
}

.cooperation .line {
    border: 4px solid #297AFF;
    margin-top: 29px;
    width: 40px;
    margin-left: 48%;
}

.cooperation .list {
    margin-top: 40px;
}

.cooperation .list ul li {
    padding-right: 8px;
    padding-bottom: 10px;
    float: left;
}

.cooperation .list ul li img {
    width: 291px;
    height: 128px;
    float: left;
}